.name {
	font-family: arial;
	font-size: large;
	
}

.param {
	font-family: arialy;
	font-size: 14px;
}

.mar {
	margin-top: 40px;
}

.flowAround {
	float: left; /* Выравниваем по левому краю */
	margin: 10px 10px 10px 0; /* Настраиваем отступы вокруг картинки */
}

/* строковий елемент  */
.inline-test {
	background-color: #ffffe6;
}

/* блоковий елемент */
.block-test {
		background-color: #ffffe6;
}